<div class="card" id="<%= data._id %>">
    <div class="card-block">
        <h4 class="card-title">
            <% if(data.post.length > 1){ %>
                <%= data.title %>
            <% }else{ %>
                <a href="<%= data.post[0] %>"><%= data.title %></a>
            <% } %>
            <% if(admin){ %>
            <button type="button" id="<%= data._id %>" class="btn btn-outline-danger delete-btn" data-toggle="button" aria-pressed="false" autocomplete="off">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
            </button>
            <% } %>
        </h4>
        <% var id = makeid(); %>
        <div id="<%=id%>" class="carousel slide" data-interval="false" data-ride="false">
            <div class="carousel-inner" role="listbox">
            <% data.post.forEach(function(el, index) {
                compressedURL = "http://res.cloudinary.com/"+data.post[index].split("/")[3]+"/image/upload/q_20/"+data.post[index].split("/")[7]%>
                    <% if(index == 0){ %>
                    <div class="carousel-item active">
                    <% }else{ %>
                    <div class="carousel-item">
                    <%}%>
                        <a href="<%=data.post[index]%>"><img class="d-block img-fluid card-img rounded" src="<%=compressedURL%>"></a>
                    </div>
            <%}); %>
            </div>
            <% if(data.post.length > 1){ %>
            <a class="carousel-control-prev" href="#<%=id%>" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#<%=id%>" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
            <% } %>
        </div>
        <p class="card-text">
            <small class="text-muted"><%= getTimeDiff(new Date(data.time)) %></small>
            <small class="text-muted right"><a href="?id=<%= data._id %>">Permalink</a></small>
        </p>
    </div>
</div>
<%
function makeid()
{
    var text = "";
    var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

    for( var i=0; i < 5; i++ )
        text += possible.charAt(Math.floor(Math.random() * possible.length));

    return text;
}
%>
